* {
    font-family: 'Averia Libre', cursive;
    box-sizing: border-box;
    font-size: 2rem;

}

h1 {
    text-align: center;
}


table, td, tr {
    border: 10px solid black;
}

table.cal {
    margin: auto;
    table-layout: fixed;
    width: 40%;  
}

input, button {
    width: 100%;
    border: 10px solid transparent;
    outline: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

.active {
    border: 10px solid black;
}