body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#container {
    background-color: #099dfd;
}

#flexContainer {
    display: flex;
    flex-direction: row;
}

.left-pane {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
}

#illustrationContainer {
    display: flex;
    width: 100%;
    height: 80%;
    justify-items: center;
}

#illustration {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

#bottomText {
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 2rem;
    color: white;
}

#right-pane {
    background-color: white;
    flex: 1;
}

#img-container {
    max-width: 100%;
    max-height: 100%;
}

.loginContainer {
    margin: auto;
    width: 60%;
    margin-top: 30vh;
}

#headingText {
    width: 100%;
    font-size: 2rem;
    text-align: left;
}

#highlighted {
    color: #099dfd;
}

#email {
    margin-top: 20px;
}

input {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    font-size: 1.25rem;
    border: 2px solid #099dfd;
    border-radius: 5px;
}

.submitButton {
    background-color: #099dfd;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    border: none;
    font-size: 1.25rem;
    border-radius: 10px;
}